<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Information</title>
  </head>

  <body>
    Name: <%= @doctor.name %>
    Specialty: <%= @doctor.specialty %>
    School: <%= @doctor.university %>
  </body>
</html>
